@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

body{
    font-family: 'Lato',
    sans-serif;
}

.nav-side {
    position: fixed;
    min-width: 296px;
    min-height: 100vh;
}

.logo {
    @include logo-setting;
    width: 151px;
    height: 40px;
    background-image: url('../images/logo-ANSWER.svg');
    background-position: center center;
}

.user {
    &-img {
        @include size(40px, 40px);
        border-radius: 100%;
    }

    &-title {
        @include font(16px, 1);
        margin-bottom: 4px;
    }

    &-text {
        @include font(12px, 1);
    }
}